footer{
    text-align: center;
    background-color: var(--footer);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-block: 1rem;
    margin-top: 3rem;
    color: white;
    font-size: 17px;
& span{
    color: rgb(247, 49, 49);
    text-transform: capitalize;
}
}