header.flex{
    background-color: var(--footer);
    color: var(--bodyBG);
    padding-block: 1rem;

&.fa-solid{
    color: var(--bodyBG);
display: none;
}
&.logo{
    font-size: 1.5rem;   
}
&.logo:hover{
    scale:0.55;
}

& .sign-in:hover , .register:hover ,.cart:hover {
  border:1px solid white;
  padding: 0.5rem 1.1rem;
 & .fa-solid{
    color: rgb(27, 224, 208);
 }   

}}

main{
    margin-inline: 0.5rem;
}
section .cards{
    background:var(--bodyBG);
    border-radius: 3%;
    padding-block: 1.0rem;
    font-size: 1.1rem;
    padding-inline: 0.5rem;
    box-shadow: 8px 2px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    max-width:800px;
   justify-content: center;
   margin-inline: auto;
    .price{
        color:rgb(146, 10, 10);
        font-weight: bold;
    }
    .description{
    max-width:85%;
    margin-block: 1.5rem;
    text-align: left;

   }
   .foot{
    display: flex;
    flex-direction: column;
   }
   .titlepro{
justify-content: space-between;
margin-top: -2%;
   }
   .bit{
    margin-top: 2rem;
background-color: var(--blue-button);
color: var(--bodyBG);
border-radius:3px ;
padding: 6px;
display: flex;
align-items: center;
justify-content: center;
   .fa-solid{
    margin-right: 0.2rem;
   }
}
.btn:hover{
.fa-solid{
color:red;
    }
   }
}
@media (max-width:600px){
    .btn{
      width: 30rem;
    }
    main{
        margin-inline: 1rem;
    }
.cards{
    display: flex;
    flex-direction: column;
}
.cent{
    display: flex;
    flex-direction: column;
 padding-inline: 1.9rem;
}

}